<a href="https://colab.research.google.com/github/alejandrobernalchavez/progralll-2024-semi/blob/main/fundamentos_de_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hola mundo")
nombre = "Alejandro Bernal"

print("hola", nombre, ", inicial:", nombre[0], nombre[5])

hola mundo
hola Alejandro Bernal , inicial: A n

EJERCICIO, crear un programa en python que sume dos numeros

In [ ]:
num1 = 5
num2 = 9.5
resp = num1 +num2
print("la suma es: ", resp)

la suma es:  14.5

EJERCICIO, crear un programa en python que sume dos numeros introducidos por el usuario

In [ ]:
print("num 1")
num1 = float(input())

print("num 2")
num2 = float(input())

resp = num1 + num2
print("la suma es: ", resp)

num 1
2
num 2
2
la suma es:  4.0

In [ ]:
#TIPOS DE DATOS

num1 = 5
num2 = 5.9
nombre = "Alejandro Bernal"
print(nombre[0:9], nombre[:9], nombre[-1], nombre[9:len(nombre)])

estado = True
print(estado)

print(type(nombre), type(num1), type(num2), type(estado) )

Alejandro Alejandro l  Bernal
True
<class 'str'> <class 'int'> <class 'float'> <class 'bool'>

determine si es par o impar

In [ ]:
num = int(input("ingrese un numero: "))
if num % 2 ==0:
  print("el mumero es par", num)
else:
    print("el numero es impar")

ingrese un numero: 5
el numero es impar

EJERCICIO: Uso de las funciones de usuario, con la suma de dos numeros.

In [ ]:
def suma(num1, num2):
  return num1 + num2

In [ ]:
num1 = float(input("Num 1: "))
num2 = float(input("Num 2: "))

resp = suma(num1, num2)
print("La suma es: ", resp)

Num 1: 2
Num 2: 8
La suma es:  10.0

EJERCICIO: Coonvertir grados celsius a farenheit, usando funciones de usuario.

In [ ]:
def convertir_cf(c):
  return c*1.8 + 32

In [ ]:
c = float(input("Celsius: "))
print("F: ", convertir_cf(c))

Celsius: 33
F:  91.4

EJERCICIO: Determina si un numero es par o impar

In [ ]:
def parImpar(num):
  if(num%2==0):
    return "par"
  return "impar"

In [ ]:
num = int(input("Num: "))
print("EL numero ", num, " es: ", parImpar(num))

Num: 1
EL numero  1  es:  impar

EJERCICIO: Calcular el sueldo de un trabajador.

In [ ]:
def sueldo(numHrs, valorXHrs):
  sueldo = numHrs * valorXHrs * 30 # 10*1.5*30 = 450
  if(numHrs>8):
    sueldo = sueldo + (numHrs-8) * valorXHrs * 30 # 2*1.5*30 = 90
  return sueldo

In [ ]:
numHrs = int(input("Horas: "))
valorXHrs = float(input("Valor: "))

print("Sueldo: ", sueldo(numHrs, valorXHrs))

Horas: 10
Valor: 1.5
Sueldo:  540.0

## **TAREA (MIERCOLES):**

1 - Convertir grados Farenheits a Celsius

In [ ]:
def convertir_fc(f):
  return (f - 32) / 1.8

In [ ]:
f = float (input("Fahrenheit: "))
print ("c", convertir_fc(f) )

Fahrenheit: 1
c -17.22222222222222

2 - Convertir grados [Celsius y Farenheit] a kelvin.

In [ ]:
def celsius_a_kelvin(celsius):

    kelvin = celsius + 273.15
    return kelvin

def fahrenheit_a_kelvin(fahrenheit):

    celsius = (fahrenheit - 32) * 5.0/9.0
    kelvin = celsius_a_kelvin(celsius)
    return kelvin

def convertir_a_kelvin():
    f
    opcion = input("Elija la unidad de temperatura que desea convertir a Kelvin (C para Celsius, F para Fahrenheit): ").strip().upper()

    if opcion == 'C':
        temperatura_celsius = float(input("Ingrese la temperatura en grados Celsius: "))
        temperatura_kelvin = celsius_a_kelvin(temperatura_celsius)
        print(f"{temperatura_celsius}°C es igual a {temperatura_kelvin:.2f} K")
    elif opcion == 'F':
        temperatura_fahrenheit = float(input("Ingrese la temperatura en grados Fahrenheit: "))
        temperatura_kelvin = fahrenheit_a_kelvin(temperatura_fahrenheit)
        print(f"{temperatura_fahrenheit}°F es igual a {temperatura_kelvin:.2f} K")
    else:
        print("Opción no válida. Por favor, elija 'C' para Celsius o 'F' para Fahrenheit.")

# Llamada a la función para realizar la conversión
convertir_a_kelvin()

Elija la unidad de temperatura que desea convertir a Kelvin (C para Celsius, F para Fahrenheit): f
Ingrese la temperatura en grados Fahrenheit: 1
1.0°F es igual a 255.93 K

clase de el dia 24/07

ejercicio elevar un numero al cuadrado

In [ ]:
def elevarCuadrado(base,exponente=2):
  print(exponente)
  return base**exponente

In [ ]:
num = int(input("num: "))
print("cuadrado: ", elevarCuadrado(num, 3))

num: 3
cuadrado:  27

USANDO LAS FUNCIONES LAMBDA

In [ ]:
elevarCuadradoLambda = lambda base, exponente: base**exponente

In [ ]:
valor = int(input("num: "))
print("cuadrado: ", elevarCuadradoLambda(valor, 2))

num: 3
cuadrado:  9

In [ ]:
serie =[5,4,3,2,6,7]
resp = map(lambda x: x**2, serie)
print(list(resp))

resp2 = map(elevarCuadrado, serie)
print(list(resp2))

[25, 16, 9, 4, 36, 49]

TypeError: elevarCuadrado() missing 1 required positional argument: 'exponente'

ejercicio obtener la rais cuadrada de una serie de numeros fijos

In [ ]:
serie = [2,3,4,5]
resp = map(lambda x: x**0.5, serie)
print(list(resp))

[1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979]

In [1]:
def calcular_isr(ingreso_bruto):
    """
    Calcula el ISR según una tabla simplificada.
    """
    if ingreso_bruto <= 500:
        return 0
    elif ingreso_bruto <= 1000:
        return ingreso_bruto * 0.10
    elif ingreso_bruto <= 2000:
        return ingreso_bruto * 0.20
    else:
        return ingreso_bruto * 0.30

def calcular_deducciones(ingreso_bruto):
    """
    Calcula las deducciones de ISSS y AFP.
    """
    isss = ingreso_bruto * 0.03
    afp = ingreso_bruto * 0.0625
    isr = calcular_isr(ingreso_bruto)
    total_deducciones = isss + afp + isr
    return isss, afp, isr, total_deducciones

def calcular_sueldo_neto(ingreso_bruto):
    """
    Calcula el sueldo neto después de deducciones.
    """
    isss, afp, isr, total_deducciones = calcular_deducciones(ingreso_bruto)
    sueldo_neto = ingreso_bruto - total_deducciones
    return sueldo_neto

def main():
    ingreso_bruto = float(input("Ingrese el sueldo bruto: "))

    isss, afp, isr, total_deducciones = calcular_deducciones(ingreso_bruto)
    sueldo_neto = calcular_sueldo_neto(ingreso_bruto)

    print(f"\nDeducciones:")
    print(f"  ISSS (3%): ${isss:.2f}")
    print(f"  AFP (6.25%): ${afp:.2f}")
    print(f"  ISR: ${isr:.2f}")
    print(f"  Total Deducciones: ${total_deducciones:.2f}")
    print(f"\nSueldo Neto: ${sueldo_neto:.2f}")

if __name__ == "__main__":
    main()

Ingrese el sueldo bruto: 2000

Deducciones:
  ISSS (3%): $60.00
  AFP (6.25%): $125.00
  ISR: $400.00
  Total Deducciones: $585.00

Sueldo Neto: $1415.00